ul {
    list-style-type: none;
    padding: 0;
}
li {
    cursor: pointer;
}
li.completed {
    text-decoration: line-through;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(219, 219, 219);
}

#container{
    text-align: center;
}

form input,
button{
    background-color: rgb(219, 219, 219);
}